.card {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  color: white;
  width: 200px;
  cursor: pointer;
  transition: 0.25s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}
