.items-container {
  width: 100%;
  padding: 20px 0;
}

.items-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.item-box {
  display: block;
  background: #111;
  padding: 20px;
  border-radius: 14px;
  color: #8ab4f8;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.25s;
}

.item-box:hover {
  background: #1a1a1a;
  transform: scale(1.03);
}
